img {
    max-width: 100%;
    max-height: 100%;
}

section {
    margin-top: 30px;
}

article {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.lockdown-img {
    width: 400px;
    height: 400px;
}

h4 {
    display: inline-block;
}